<center><h1>Proyecto final</h1></center>
<center><h3>IBM SkillsBuild Europa - Análisis de datos</h3></center>

# Requisitos



* Conocimientos de Python, Power BI o Tableau.
* Comprensión de la limpieza de datos.
* Comprensión de la visualización de datos.



#### Nivel de ejercicio: Intermedio



#### Duración: aproximadamente 3 horas

### Análisis de datos de Airbnb:



#### Objetivo:



En este ejercicio, practicarás el análisis de datos sobre un conjunto de datos abiertos procedentes de Airbnb. Algunas de las tareas incluyen:

- limpieza de datos,
- transformación de datos y
- visualización de datos.



#### Resumen sobre los datos de Airbnb:



Los criterios principales de la gente cuando visita lugares nuevos son contar con alojamiento y comida a precios razonables. Airbnb (Air-Bed-Breakfast) es un mercado en línea creado para satisfacer esta necesidad, pues permite a la gente alquilar sus casas durante plazos cortos. Estos servicios se ofrecen a un precio relativamente inferior al de los hoteles y en diversas ubicaciones geográficas. Además, personas de todo el mundo prefieren el servicio hogareño y económico.



#### Fuente de los datos



Puedes obtener el <i>dataset</i> para realizar este proyecto en el siguiente enlace: https://www.kaggle.com/datasets/arianazmoudeh/airbnbopendata



Este <i>dataset</i> contiene información sobre los alojamientos, tal como el barrio, el tipo de habitación, el precio, la disponibilidad, las opiniones, los gastos de servicio, la política de cancelación y las normas de uso de la casa.



¡Te deseamos lo mejor en tu análisis de los datos de Airbnb!

## Tarea 1: Carga de datos (Python)



1. Lee el fichero csv y cárgarlo en un <i>dataframe</i> de pandas.
2. Visualiza las cinco primeras filas de tu <i>dataframe</i>.
3. Visualize los tipos de datos de las columnas.

In [80]:
## Lee el fichero csv.
import pandas as pd
df = pd.read_csv("airbnb.csv", low_memory=False)

In [5]:
## Muestra las primeras 5 filas.
df.head(5)

In [93]:
## Muestra los tipos de datos.
df.dtypes

,name,host_identity_verified,host_name,neighbourhood_group,neighbourhood,lat,long,instant_bookable,cancellation_policy,room_type,...,service_fee,minimum_nights,number_of_reviews,last_review,reviews_per_month,review_rate_number,calculated_host_listings_count,days_booked,house_rules,license
0,Clean & quiet apt home by the park,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,False,strict,Private room,...,193.0,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,41662/AL
1,Skylit Midtown Castle,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,False,moderate,Entire home/apt,...,28.0,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,41662/AL
2,THE VILLAGE OF HARLEM....NEW YORK !,unconfirmed,Elise,Manhattan,Harlem,40.80902,-73.94190,True,flexible,Private room,...,124.0,3.0,0.0,6/23/2019,0.74,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",41662/AL
3,Home away from home,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,True,moderate,Entire home/apt,...,74.0,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,#NAME?,41662/AL
4,Entire Apt: Spacious Studio/Loft by central park,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,False,moderate,Entire home/apt,...,41.0,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",41662/AL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102053,Cozy bright room near Prospect Park,unconfirmed,Mariam,Brooklyn,Flatbush,40.64945,-73.96108,True,moderate,Private room,...,41.0,7.0,12.0,3/27/2019,0.44,5.0,1.0,0.0,Shoes off Clean After yourself Turn Lights and...,41662/AL
102054,Private Bedroom with Amazing Rooftop View,verified,Trey,Brooklyn,Bushwick,40.69872,-73.92718,False,flexible,Private room,...,41.0,1.0,19.0,8/31/2017,0.72,3.0,2.0,0.0,#NAME?,41662/AL
102055,Pretty Brooklyn One-Bedroom for 2 to 4 people,verified,Michael,Brooklyn,Bedford-Stuyvesant,40.67810,-73.90822,True,moderate,Entire home/apt,...,41.0,2.0,50.0,6/26/2019,3.12,4.0,2.0,235.0,* Check out: 10am * We made an effort to keep ...,41662/AL
102056,Room & private bathroom in historic Harlem,unconfirmed,Shireen,Manhattan,Harlem,40.81248,-73.94317,True,strict,Private room,...,41.0,2.0,0.0,6/23/2019,0.74,1.0,1.0,0.0,Each of us is working and/or going to school a...,41662/AL
102057,Rosalee Stewart,verified,Stanley,Manhattan,Harlem,40.81315,-73.94747,False,flexible,Entire home/apt,...,41.0,4.0,22.0,6/15/2019,0.85,4.0,1.0,238.0,Please remember that this is a residential bui...,41662/AL

## Tarea 2a: Limpieza de datos (cualquier herramienta)


1. Elimina las columnas no deseadas del <i>dataframe</i>, entre ellas se incluyen `host id`, `id`, `country` y `country code`.
2. Indica la razón por la cual se han eliminado estas columnas para tu análisis de datos.


Si utilizas Python para este ejercicio, incluye el código que hayas utilizado en las celdas siguientes. Si utilizas cualquier otra herramienta, incluye capturas de pantalla tomadas antes y después de eliminar las columnas.

In [81]:
df.drop(columns = ["host id", "id", "country", "country code"], axis=1, inplace=True)

La razón por la cual se han eliminado las columnas mencionas del dataframe es porque no aportan informaciones significativas para obtener las informaciones requeridas, esto porque todos los datos provienen de un mismo páis (columna "country") luego, tienen el mismo código de identificación del país (columna "country code"), de la misma forma el numero de serie (campo "id" y "host id").

## Tarea 2b: Limpieza de datos (Python)


- Compueba si hay valores nulos y muestra el recuento en orden ascendente. **Si faltan valores, imputa los valores como consideres.**
- Comprueba si hay valores duplicados y elimínalos.
- Muestra el número total de registros antes y después de eliminar los duplicados.

In [82]:
## Comprueba si hay valores nulos y muestra el recuento en orden ascendente.

# 1- Comprobamos si hay datos nulos
df.isnull().head()

# 2- Mostramos el recuento en orden ascendente
df.isnull().sum().sort_values()

In [83]:
# Imputando valores

## Para inputar los valor de forma adecuada, comprobamos el tipo de datos que contiene la columna, si es una cadena (representado por un object 'O') imputaremos la moda o el valor que más se repite 
# y si es un numerico, imputaremos la media.
for col in df.columns:
  if df[col].dtype == 'O':
    df[col].fillna(value=df[col].mode()[0], inplace=True)
  else:
    df[col].fillna(value=df[col].median(), inplace=True)

In [14]:
# Comprobamos que los valores fueron imputados correctamente y por tanto no debe haber valores nulos
df.isnull().sum().sort_values()

In [85]:
## Comprueba si hay valores duplicados.
df.duplicated().sum()

3461

In [86]:
## Número total de registros antes de eliminar los duplicados
df.shape

(102599, 22)

In [87]:
## Eliminar valores duplicados.
df.drop_duplicates(inplace=True)

In [88]:
## Número total de registros después de eliminar los duplicados.
df.shape

(99138, 22)

## Tarea 3: Transformación de datos (cualquier herramienta)





- Cambia el nombre de la columna `availability 365` a `days_booked`.
- Convierte todos los nombres de columna a minúsculas y sustituye los espacios en los nombres de columna por un guión bajo "_".
- Elimina el signo de dólares y la coma de las columnas `price` y `service_fee`. Si es necesario, convierte estas dos columnas al tipo de datos adecuado.



Si utilizas Python para este ejercicio, incluye el código que hayas utilizado en las celdas siguientes. Si utilizas cualquier otra herramienta, incluye capturas de pantalla de tu trabajo.

In [89]:
## Cambia el nombre de la columna.
df.rename(columns={'availability 365': 'days_booked'}, inplace=True)

In [90]:
## Convierte todos los nombres de columna a minúsculas y sustituye los espacios por un guión bajo "_".
df.columns = [col.lower().replace(" ", "_") for col in df.columns]

In [91]:
## Elimina el signo de dólares y la coma de las columnas. Si es necesario, convierte estas dos columnas al tipo de datos adecuado.

def remove_dollar_sign(value):
  if pd.isna(value):
    return np.NaN
  else:
    return float(value.replace("$", "").replace(",", ""))

In [92]:
df['price'] = df['price'].apply(lambda x: remove_dollar_sign(x))
df['service_fee'] = df['service_fee'].apply(lambda x: remove_dollar_sign(x))

### Tarea 4: Análisis exploratorio de datos (cualquier herramienta)



- Enumera los tipos de habitaciones disponibles en el <i>dataset</i>.
- ¿Qué tipo de habitación tiene la política de cancelación más estricta?
- Enumera el precio medio por barrio y señala cuál es el conjunto de barrios más caro para alquilar.



Si utilizas Python para este ejercicio, incluye el código que hayas utilizado en las celdas siguientes. Si utilizas cualquier otra herramienta, incluye capturas de pantalla de tu trabajo.

In [28]:
## Enumera los tipos de habitaciones disponibles en Airbnb.
df['room_type'].value_counts()

room_type
Entire home/apt    51987
Private room       44887
Shared room         2149
Hotel room           115
Name: count, dtype: int64

In [99]:
## ¿Qué tipo de habitación se adhiere a una política de cancelación más estricta?

## Primeramente identificamos los tipos de política de cancelación con el objetivo de identificar la más restricta
df['cancellation_policy'].value_counts()

cancellation_policy
moderate    33264
flexible    32948
strict      32926
Name: count, dtype: int64

In [104]:
## Una vez identificados los tipos de politicas, aplicamos el filtro correspondiente para obtener un nuevo datframe con
## con las habitaciones que cumplen con el filtro aplicado ("cancellation_policy" == 'strict')

mas_estrictas = df[df['cancellation_policy'] =='strict']
mas_estrictas

In [149]:
## Enumera el precio medio por barrio y señala cuál es el conjunto de barrios más caro para alquilar.

# 1- Precio medio por barrio
precio_medio_por_barrio = df.groupby('neighbourhood')['price'].mean()

# 2- Precio por grupo de barrio para identificar el grupo de barrio mas caro para alquilar
grupo_de_barrio_mas_caro = df['price'].groupby(df['neighbourhood_group']).sum().sort_values(ascending=False)


##Mostramos los resultados
print("Precio medio por barrio: \n", precio_medio_por_barrio)
print("\n==============================\n")
print("Cconjunto de barrios más caro para alquilar:\n",grupo_de_barrio_mas_caro)

Precio medio por barrio:
 neighbourhood
Allerton           629.322581
Arden Heights      804.888889
Arrochar           604.600000
Arverne            649.052632
Astoria            637.975798
                      ...
Windsor Terrace    577.634069
Woodhaven          617.005376
Woodlawn           588.370370
Woodrow            709.333333
Woodside           634.661404
Name: price, Length: 224, dtype: float64

==============================

Cconjunto de barrios más caro para alquilar:
 neighbourhood_group
Manhattan        26353671.0
Brooklyn         25252166.0
Queens            8069593.0
Bronx             1635085.0
Staten Island      575056.0
brookln               580.0
manhatan              460.0
Name: price, dtype: float64

## Tarea 5a: Visualización de datos (Cualquier herramienta)

* Enumerar los distintos tipos de habitaciones disponibles en Airnb
* Qué tipo de habitación se adhiere a una política de cancelación más estricta.
* Enumere los precios por grupo de barrios y mencione también cuál es el grupo de barrios más caro para los alquileres.
* Enumere los 10 barrios más caros por orden creciente de precio con la ayuda de un gráfico de barras horizontales. ¿Cuál es el barrio más barato?
* Enumere los barrios que ofrecen alquileres a corto plazo de menos de 10 días. Ilustrar con un gráfico de barras
* Enumere los precios con respecto al tipo de habitación utilizando un gráfico de barras y exponga también sus inferencias.
* Cree un gráfico circular que muestre la distribución de los días reservados para cada grupo de barrios.

Si utiliza Python para este ejercicio, por favor incluya el código en las celdas de abajo. Si utiliza cualquier otra herramienta, por favor incluya pantallazos de su trabajo.

## Tarea 5b: Visualización de datos (Cualquier herramienta)

* ¿El precio del servicio y el precio de la habitación tienen un impacto mutuo? Ilustre esta relación con un gráfico de dispersión e indique sus inferencias
* Utilizando un gráfico lineal muestre en qué año tuvo lugar la máxima construcción de habitaciones.

Si utiliza Python para este ejercicio, incluya el código en las celdas siguientes. Si utiliza cualquier otra herramienta, incluya capturas de pantalla de su trabajo.

## Tarea 5c: Visualización de datos (Cualquier herramienta)

* Con la ayuda de gráficos de caja ilustra lo siguiente
 * Efecto del número de tasa de revisión en el precio
 * Efecto de la identidad del host verificada en el precio

Si utiliza Python para este ejercicio, por favor incluya el código en las celdas de abajo. Si utiliza cualquier otra herramienta, por favor incluya capturas de pantalla de su trabajo.