<center><h1>Proyecto final</h1></center>
<center><h3>IBM SkillsBuild Europa - Análisis de datos</h3></center>

# Requisitos



* Conocimientos de Python, Power BI o Tableau.
* Comprensión de la limpieza de datos.
* Comprensión de la visualización de datos.



#### Nivel de ejercicio: Intermedio



#### Duración: aproximadamente 3 horas

### Análisis de datos de Airbnb:



#### Objetivo:



En este ejercicio, practicarás el análisis de datos sobre un conjunto de datos abiertos procedentes de Airbnb. Algunas de las tareas incluyen:

- limpieza de datos,
- transformación de datos y
- visualización de datos.



#### Resumen sobre los datos de Airbnb:



Los criterios principales de la gente cuando visita lugares nuevos son contar con alojamiento y comida a precios razonables. Airbnb (Air-Bed-Breakfast) es un mercado en línea creado para satisfacer esta necesidad, pues permite a la gente alquilar sus casas durante plazos cortos. Estos servicios se ofrecen a un precio relativamente inferior al de los hoteles y en diversas ubicaciones geográficas. Además, personas de todo el mundo prefieren el servicio hogareño y económico.



#### Fuente de los datos



Puedes obtener el <i>dataset</i> para realizar este proyecto en el siguiente enlace: https://www.kaggle.com/datasets/arianazmoudeh/airbnbopendata



Este <i>dataset</i> contiene información sobre los alojamientos, tal como el barrio, el tipo de habitación, el precio, la disponibilidad, las opiniones, los gastos de servicio, la política de cancelación y las normas de uso de la casa.



¡Te deseamos lo mejor en tu análisis de los datos de Airbnb!

## Tarea 1: Carga de datos (Python)



1. Lee el fichero csv y cárgarlo en un <i>dataframe</i> de pandas.
2. Visualiza las cinco primeras filas de tu <i>dataframe</i>.
3. Visualize los tipos de datos de las columnas.

In [1]:
## Lee el fichero csv.
import pandas as pd
df = pd.read_csv("airbnb.csv", low_memory=False)

In [2]:
## Muestra las primeras 5 filas.
df.head(5)

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN

In [3]:
## Muestra los tipos de datos.
df.dtypes

id                                  int64
NAME                               object
host id                             int64
host_identity_verified             object
host name                          object
neighbourhood group                object
neighbourhood                      object
lat                               float64
long                              float64
country                            object
country code                       object
instant_bookable                   object
cancellation_policy                object
room type                          object
Construction year                 float64
price                              object
service fee                        object
minimum nights                    float64
number of reviews                 float64
last review                        object
reviews per month                 float64
review rate number                float64
calculated host listings count    float64
availability 365                  float64
house_rules                        object
license                            object
dtype: object

## Tarea 2a: Limpieza de datos (cualquier herramienta)


1. Elimina las columnas no deseadas del <i>dataframe</i>, entre ellas se incluyen `host id`, `id`, `country` y `country code`.
2. Indica la razón por la cual se han eliminado estas columnas para tu análisis de datos.


Si utilizas Python para este ejercicio, incluye el código que hayas utilizado en las celdas siguientes. Si utilizas cualquier otra herramienta, incluye capturas de pantalla tomadas antes y después de eliminar las columnas.

In [4]:
df.drop(columns = ["host id", "id", "country", "country code"], axis=1, inplace=True)

## Tarea 2b: Limpieza de datos (Python)


- Compueba si hay valores nulos y muestra el recuento en orden ascendente. **Si faltan valores, imputa los valores como consideres.**
- Comprueba si hay valores duplicados y elimínalos.
- Muestra el número total de registros antes y después de eliminar los duplicados.

In [5]:
## Comprueba si hay valores nulos y muestra el recuento en orden ascendente.
df.isnull().head()

df.isnull().sum().sort_values()

room type                              0
lat                                    8
long                                   8
neighbourhood                         16
neighbourhood group                   29
cancellation_policy                   76
instant_bookable                     105
number of reviews                    183
Construction year                    214
price                                247
NAME                                 250
service fee                          273
host_identity_verified               289
calculated host listings count       319
review rate number                   326
host name                            406
minimum nights                       409
availability 365                     448
reviews per month                  15879
last review                        15893
house_rules                        52131
license                           102597
dtype: int64

In [6]:
# Imputando valores
for col in df.columns:
  if df[col].dtype == 'O':
    df[col].fillna(value=df[col].mode()[0], inplace=True)
  else:
    df[col].fillna(value=df[col].median(), inplace=True)

In [22]:
df["minimum nights"].mode()

0    1.0
Name: minimum nights, dtype: float64

In [7]:
# Comprobamos que los valores fueron imputados correctamente y por tanto no debe haber valores nulos

df.isnull().sum().sort_values()

NAME                              0
availability 365                  0
calculated host listings count    0
review rate number                0
reviews per month                 0
last review                       0
number of reviews                 0
minimum nights                    0
service fee                       0
price                             0
Construction year                 0
room type                         0
cancellation_policy               0
instant_bookable                  0
long                              0
lat                               0
neighbourhood                     0
neighbourhood group               0
host name                         0
host_identity_verified            0
house_rules                       0
license                           0
dtype: int64

In [10]:
## Comprueba si hay valores duplicados.
df.duplicated().sum()

3461

In [11]:
## Número total de registros antes de eliminar los duplicados
df.shape

(102599, 22)

In [13]:
## Eliminar valores duplicados.
df.drop_duplicates(inplace=True)

In [14]:
## Número total de registros después de eliminar los duplicados.
df.shape

(99138, 22)

## Tarea 3: Transformación de datos (cualquier herramienta)





- Cambia el nombre de la columna `availability 365` a `days_booked`.
- Convierte todos los nombres de columna a minúsculas y sustituye los espacios en los nombres de columna por un guión bajo "_".
- Elimina el signo de dólares y la coma de las columnas `price` y `service_fee`. Si es necesario, convierte estas dos columnas al tipo de datos adecuado.



Si utilizas Python para este ejercicio, incluye el código que hayas utilizado en las celdas siguientes. Si utilizas cualquier otra herramienta, incluye capturas de pantalla de tu trabajo.

In [15]:
## Cambia el nombre de la columna.
df.rename(columns={'availability 365': 'days_booked'}, inplace=True)
df.

In [18]:
## Convierte todos los nombres de columna a minúsculas y sustituye los espacios por un guión bajo "_".
df.columns = [col.lower().replace(" ", "_") for col in df.columns]

In [21]:
## Elimina el signo de dólares y la coma de las columnas. Si es necesario, convierte estas dos columnas al tipo de datos adecuado.

def remove_dollar_sign(value):
  if pd.isna(value):
    return np.NaN
  else:
    return float(value.replace("$", "").replace(",", ""))

In [26]:
df['price'] = df['price'].apply(lambda x: remove_dollar_sign(x))
df['service_fee'] = df['service_fee'].apply(lambda x: remove_dollar_sign(x))

In [37]:
df.to_csv("arbnb_limpio.csv", index=False)

### Tarea 4: Análisis exploratorio de datos (cualquier herramienta)



- Enumera los tipos de habitaciones disponibles en el <i>dataset</i>.
- ¿Qué tipo de habitación tiene la política de cancelación más estricta?
- Enumera el precio medio por barrio y señala cuál es el conjunto de barrios más caro para alquilar.



Si utilizas Python para este ejercicio, incluye el código que hayas utilizado en las celdas siguientes. Si utilizas cualquier otra herramienta, incluye capturas de pantalla de tu trabajo.

In [28]:
## Enumera los tipos de habitaciones disponibles en Airbnb.
df['room_type'].value_counts()

room_type
Entire home/apt    51987
Private room       44887
Shared room         2149
Hotel room           115
Name: count, dtype: int64

In [29]:
## ¿Qué tipo de habitación se adhiere a una política de cancelación más estricta?

## Primeramente identificamos los tipos de política de cancelación con el objetivo de identificar la más restricta
df['cancellation_policy'].value_counts()

cancellation_policy
moderate    33264
flexible    32948
strict      32926
Name: count, dtype: int64

In [35]:
## Una vez identificados los tipos de politicas, aplicamos el filtro correspondiente para obtener un nuevo datframe con
## con las habitaciones que cumplen con el filtro aplicado ("cancellation_policy" == 'strict')

mas_estrictas = df[df['cancellation_policy'] =='strict']
mas_estrictas

In [49]:
## Enumera los precios por barrio y menciona también cuál es el grupo de barrios con alquileres más caros.
grpl=df['price'].groupby(df['neighbourhood_group']).sum().sort_values(ascending=False)

26353671.0

In [46]:
## primeramente efectuamos un agrupamiento de los precios por barrios y calculamos el precio medio por barrio
df['price'].groupby(df['neighbourhood']).mean().sort_values()

neighbourhood
Lighthouse Hill                107.666667
Bay Terrace, Staten Island     306.000000
Spuyten Duyvil                 307.000000
Breezy Point                   309.888889
Rossville                      327.500000
                                 ...
Jamaica Hills                  812.904762
Little Neck                    817.750000
Fort Wadsworth                1024.000000
Chelsea, Staten Island        1042.000000
New Dorp                      1045.333333
Name: price, Length: 224, dtype: float64

In [45]:
## Luego efectuamos una agrupacion de precio pero esta vez de acuerdo a los grupos de barrios para poder identificar el grupo de barrios con alquileres más caros
grpl=df['price'].groupby(df['neighbourhood_group']).sum().sort_values(ascending=False)
grpl

neighbourhood_group
Manhattan        26353671.0
Brooklyn         25252166.0
Queens            8069593.0
Bronx             1635085.0
Staten Island      575056.0
brookln               580.0
manhatan              460.0
Name: price, dtype: float64

## Tarea 5a: Visualización de datos (Cualquier herramienta)

* Enumerar los distintos tipos de habitaciones disponibles en Airnb
* Qué tipo de habitación se adhiere a una política de cancelación más estricta.
* Enumere los precios por grupo de barrios y mencione también cuál es el grupo de barrios más caro para los alquileres.
* Enumere los 10 barrios más caros por orden creciente de precio con la ayuda de un gráfico de barras horizontales. ¿Cuál es el barrio más barato?
* Enumere los barrios que ofrecen alquileres a corto plazo de menos de 10 días. Ilustrar con un gráfico de barras
* Enumere los precios con respecto al tipo de habitación utilizando un gráfico de barras y exponga también sus inferencias.
* Cree un gráfico circular que muestre la distribución de los días reservados para cada grupo de barrios.

Si utiliza Python para este ejercicio, por favor incluya el código en las celdas de abajo. Si utiliza cualquier otra herramienta, por favor incluya pantallazos de su trabajo.

## Tarea 5b: Visualización de datos (Cualquier herramienta)

* ¿El precio del servicio y el precio de la habitación tienen un impacto mutuo? Ilustre esta relación con un gráfico de dispersión e indique sus inferencias
* Utilizando un gráfico lineal muestre en qué año tuvo lugar la máxima construcción de habitaciones.

Si utiliza Python para este ejercicio, incluya el código en las celdas siguientes. Si utiliza cualquier otra herramienta, incluya capturas de pantalla de su trabajo.

## Tarea 5c: Visualización de datos (Cualquier herramienta)

* Con la ayuda de gráficos de caja ilustra lo siguiente
 * Efecto del número de tasa de revisión en el precio
 * Efecto de la identidad del host verificada en el precio

Si utiliza Python para este ejercicio, por favor incluya el código en las celdas de abajo. Si utiliza cualquier otra herramienta, por favor incluya capturas de pantalla de su trabajo.